@model DataLayer.Entities.Employee

@{
    ViewData["Title"] = "Delete";
}

<style>
    .header-h1 h1 {
        position: relative;
        padding-bottom: .5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        color: #B22222;
    }

        .header-h1 h1::before {
            content: "";
            position: absolute;
            border-bottom: 2px solid #B22222;
            bottom: .25rem;
            left: 50%;
            width: 30%;
            transform: translateX(-50%);
        }

        .header-h1 h1::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #B22222;
            bottom: 0;
            left: 50%;
            width: 15%;
            transform: translateX(-50%);
        }

    .header-h1-left h1 {
        text-align: left;
    }

        .header-h1-left h1::before,
        .header-h1-left h1::after {
            left: 0;
            transform: translateX(0);
        }
</style>
<div class="header-h1 header-h1-left">
    <h1>DELETE EMPLOYEE</h1>
</div>

<h4 style="color:darkred">Are you sure you want to fire  @Model.Surname @Model.Name?</h4>
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetJob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetJob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.NameCompany
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>
